<div class="container">
  <h1>Hola!</h1>

  <%= simple_form_for :aval, url: provider_create_multiple_articles_path do |f| %>
      <div class="form-inputs">
          <% @Articulos.each do |b| %>
              <%= f.input "check[#{b.id}]",label: b.name, as: :boolean, input_html: {checked: @Articulos_disponibles.exists?(b.id)} %>
            <br/>
          <% end %>
        </div>

      <div class="form-actions">
        <%= f.button :submit, "Editar Lista de Disponibilidad" %>
      </div>
  <% end %>

</div>