<div class="container">
  <h1>Editar Purchase Order</h1>

  <%= render 'form' %>

  <br/>

  <div style="float:left;">
    <%= button_to 'Mostrar', @purchase_order, class: "btn", :method => :get   %>
  </div>
  <div style="float: left;margin-left: 2%;">
    <%= button_to 'Regresar', purchase_orders_path, class: "btn", :method => :get   %>
  </div>
</div>
