<div class="container">
  <div class="row">
    <h1>Nueva Orden de Compra</h1>
  </div>
  <br>
  <%= render 'form' %>
  <br/>
    <%= button_to 'Regresar', purchase_orders_path, class: "btn", :method => :get  %>
</div>