<div class="container">
    <h1>Nuevo <%= singular_table_name.titleize %></h1>

    <%%= render 'form' %>
    <br/>

    <%%= button_to 'Regresar', <%= index_helper %>_path, class: "btn", :method => :get  %>
</div>