<div class="container">
    <h1>Nueva disponibilidad de Articulo</h1>

    <%= render 'form' %>
    <br/>

    <%= button_to 'Regresar', provider_articles_path, class: "btn", :method => :get  %>
</div>